/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* CUSTOM PROPERTIES */

:root{
    --little-title-color: #373737;
    --title-color: #2F2F2F;
    --text-color: #7D7D7D;
    --blue-color: #717CFF;
    --white-color: #FFFFFF;
    --font-family: "Roboto", "Arial", sans-serif;
}

/* GLOBAL */

html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
}

/* CONTAINER */

.container{
    max-width: 1183px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
}
.header-container{
    display: flex;
    align-items: center;
    padding-top: 24px;
    margin-bottom: 140px;
}
.logo-img{
    display: block;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 175px;
    padding: 9px 0 13px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: var(--little-title-color);
}
.nav-item{
    white-space: nowrap;
    font-size: 17px;
    line-height: 20px;
}
.nav-item:not(:first-child){
    margin-left: 68px;
}
.btn{
    border-radius: 11px;
}
.btn::after{
    content: "";
    background: url("../img/arrow-icon.svg");
    width: 28px;
    height: 26px;
    margin-left: 30px;
}
.apply-btn{
    margin-left: 72px;
    padding: 9px 32px 13px 35px;
    font-size: 17px;
    line-height: 20px;
    background-color: #FFFFFF;
    color: #505050;
    border: 2px solid #717CFF;
    border-radius: 11px;
}

/* HERO */
.hero-container{
    display: flex;
}
.hero-info{
    width: 632px;
    margin-bottom: 54px;
}
.hero-title{
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: var(--title-color);
    margin-bottom: 15px;
}
.hero-feature{
    color: var(--blue-color);
}
.hero-text{
    color: var(--text-color);
    margin-bottom: 42px;
    font-size: 22px;
    line-height: 38px;
}
.hero-btn{
    display: flex;
    align-items: center;
    padding: 12px 32px;
    margin-bottom: 100px;
    font-size: 22px;
    line-height: 40px;
    white-space: nowrap;
    border: none;
    color: #FFFFFF;
    background: #717CFF;
}

.social-links{
    display: flex;
    align-items: center;
}
.social-link:not(:first-child){
    margin-left: 23px;
}
.fb{
    width: 13px;
    height: 21px;
}
.hero-img{
    background: url("../img/student-girl.png");
    width: 470px;
    height: 565px;
}
.hero-img::after{
    content: "";
    position: absolute;
    background: url("../img/Oval.png") no-repeat;
    width: 600px;
    height: 400px;
    bottom: -150px;
    z-index: -1;
}

/* UNIVERSITIES */
.universities{
    background-color: #FAFAFA;
}
.universities-container{
    padding-top: 55px;
    padding-bottom: 57px;
}
.universities-title{
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    opacity: 0.73;
    padding-bottom: 86px;
}

/* University CAROUSEL */

.university-carousel{
    padding-bottom: 183px;
}
.uni-carousel-item {
    width: 250px;
    height: 60px;
    margin-right: 74px;
}

/* OUR SERVICES */

.info-text{
    width: 949px;
    margin-left: auto;
    margin-right: auto;
}
.title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
}
.description{
    text-align: center;
    color: #7D7D7D;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
}
.services-title{
    padding-bottom: 25px;
}
.services-desc{
    margin-bottom: 110px;
}
.services-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 76px;
}
.card{
    width: 344px;
    padding: 29px 17px 30px 31px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
.card:not(:first-child){
    margin-left: 47px;
}
.card::before{
    content: "";
    position: absolute;
    width: 76px;
    height: 76px;
    border-radius: 38px;
}

.card-title{
    padding-top: 105px;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
}
.card-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}
.card-link::after{
    content: "";
    background: url("../img/arrow-icon.svg") no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}
.career::before{
    background: #717CFF url("../img/career-icon.svg") no-repeat center;
}
.univer::before{
    background: #FF5959 url("../img/admission-icon.svg") no-repeat center;
}
.visa::before{
    background: #70CE88 url("../img/visa-icon.svg") no-repeat center;
}
.accomodation::before{
    background: #5C96FF url("../img/accomo-icon.svg") no-repeat center;
}
.departure::before{
    background: #FF5959 url("../img/departure-icon.svg") no-repeat center;
}

/* NEWS */

.news{
    background: #FAFAFA;
}
.news-container{
    padding-top: 65px;
    padding-bottom: 124px;
}
.news-title{
    padding: 0;
    margin-bottom: 25px;
}
.news-top-desc{
    margin-bottom: 120px;
}
.news-card-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 146px;
}
.news-card{
    position: relative;
    width: 344px;
    padding: 252px 27px 0px 27px;
    background: #FFFFFF;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}
.news-card:not(:first-child){
    margin-left: 46px;
}
.news-card::before{
    content: "";
    position: absolute;
    width: 344px;
    height: 224px;
    top: 0;
    left: 0;
}
.news-time{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
}
.news-time::before{
    content: "";
    width: 21px;
    height: 21px;
    margin-right: 12px;
    background: url("../img/calendar-icon.svg") no-repeat;
}
.news-desc{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    padding-bottom: 62px;
}
.comeon::before{
    background: url("../img/comeon-img.jpg") no-repeat;
}
.trump::before{
    background: url("../img/trump-img.jpg") no-repeat;
}
.hydra::before{
    background: url("../img/hydra-img.jpg") no-repeat;
}
.join-btn{
    display: flex;
    align-items: center;
    padding: 12px 32px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    line-height: 40px;
    white-space: nowrap;
    border: none;
    color: #FFFFFF;
    background: #717CFF;
}

/* EVENTS */
.events{
    padding-bottom: 108px;
}
.section-info{
    width: 949px;
    margin-left: auto;
    margin-right: auto;
}
.events-title{
    margin-bottom: 25px;
}
.event-desc{
    margin-bottom: 100px;
    
}
.events-card-list{
    padding-bottom: 152px;
}
.event-card{
    width: 540px;
    padding: 29px 28px 31px 31px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-right: 78px;
}
.event-card-header{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.event-card-date{
    width: 76px;
    height: 76px;
    margin: 0;
    padding: 10px 22px;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: var(--blue-color);
    background: rgba(113, 124, 255, 0.14);
    mix-blend-mode: normal;
    border-radius: 11px;
}
.event-card-title{
    margin-left: 19px;
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}
.event-card-desc{
    margin-bottom: 25px;
}
.cards-desc{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}
.event-card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event-card-time{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    letter-spacing: 0.444444px;
    color: #373737;
}
.event-card-time::before{
    content: "";
    margin-right: 5px;
    background: url("../img/time-icon.svg");
    width: 24px;
    height: 24px;
}

/* COUNTRIES SECTION */

.countries{
    background: #FAFAFA;
}
.countries-container{
    padding-top: 46px;
    padding-bottom: 87px;
}
.countries-title{
    margin-bottom: 25px;
}
.countries-desc{
    margin-bottom: 77px;
}
.country-carousel{
    padding-bottom: 141px;
}
.country-card{
    width: 348px;
    margin-right: 46px;
}
.country-card-title{
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
}

/* TESTIMONIALS SECTION */

.testimonials-container{
    margin-top: 0;
    padding-top: 115px;
}
.testimonial-title{
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}
.testimonial-desc{
    margin-bottom: 140px;
}
.testimonial-card{
    width: 503px;
    margin-right: 61px;
    padding: 39px 34px 40px 34px;
}
.testimonial-header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.testimonial-header::before{
    content: "";
    width: 62px;
    height: 62px;
    margin-right: 28px;
}
.ainara{
    background: url("../img/Ainara-img.png") no-repeat;
}
.harrison{
    background: url("../img/harrison-img.png") no-repeat;
}
.niek{
    background: url("../img/Nielson-img.png") no-repeat;
}
.author-name{
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
}
.job-title{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    mix-blend-mode: normal;
    opacity: 0.65;
}
.testimonial-desc{
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
}

/* QUESTION SECTION */

.question{
    background: #FAFAFA;
}
.question-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 74px;
}
.question-text{
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #252525;
}
.question-btn{
    display: flex;
    align-items: center;
    padding: 12px 32px;
    font-size: 22px;
    line-height: 40px;
    white-space: nowrap;
    border: none;
    color: #FFFFFF;
    background: #717CFF;  
}

/* SITE FOOTER */

.site-footer{
    background-color: var(--blue-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 45px;
}
.footer-info{
    width: 343px;
    margin-right: 10px;
}
.footer-logo-img{
    margin-bottom: 28px;
}
.footer-text{
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.address{
    margin: 0;
    margin-bottom: 58px;
    font-weight: 500;
}
.copyright{
    margin: 0;
    font-weight: bold;
}
.footer-middle-nav{
    margin-right: 10px;
}
.footer-end-nav{
    margin-right: 10px;
}
.footer-nav{
    margin: 0;
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: var(--white-color);
}
.footer-items{
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    white-space: nowrap;
    color: #EEEEEE;
}
.footer-social-links{
    margin-bottom: 60px;
    align-self: flex-end;
}
.footer-social-links:not(:last-child){
    margin-right: 28px;
}